{% extends "blog/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
      <div class="content-section"style="background:url('{% static "images/xy.jpg" %}');background-size:100%" >
      	<form method="POST">
      		<!It increases the security>
      		{%csrf_token%}
      		<fieldset class="form-group">
      			<legend class="border-bottom mb-4" style="text-align: center">Join today for new jobs</legend>
      			{{form|crispy}}
      			<! we add a tag to get nicely in the form of table that is paragraph>
      		</fieldset>
      		<div class="form-group">
      			<button class="btn btn-outline-info" type="submit">Sign up</button>
      		</div>
      	</form>
      	<div class="border-top pt-3">
<small class="text-muted">
	Already have an account
	<a class="ml-2" href="{% url 'login'%}">Sign in</a>
</small>
      	</div>
      </div>
{% endblock content %}
